.table {
  display: table;
  table-layout: fixed;
  box-sizing: border-box;
}

.modal label{
  font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
}

.modal :global .loading-spinner{
  padding: 15% 45%;
}

.alignRight{
  text-align: right;
}

.table th {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.modal iframe{
  // height: 98%;
  // width: 98%;
  min-height: 300px;

  box-sizing: border-box;
  border: 0;
}

.table td {
  font-size: 0.8rem;
}

.modal > div{
  position: initial!important;

  animation: none;
  transform: translate3d(0, 0, 0);
}

.modal :global .dialog-footer{
  background: #fff!important;
}

.modal :global .modal-footer{
  //position: absolute;
  //bottom: 0;
  //width: 100%;
  margin-top: 12px;
}

.modal.mini{

  width: 600px;
  left: calc(50% - 400px);

  height: 600px;
  // width: 1200px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-bottom: 3px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  box-shadow: none;
  z-index: 2223;
  // padding: 10px 0 0;
  margin: auto 3em;
}

.modal-body{
  padding: 0!important;
}

.modal fieldset{
  padding: 0!important;
}

.tableRow {
  display: table-row;
  vertical-align: top;
}

.tableCell {
  display: table-cell;
  vertical-align: middle;
}

.table {
  display: table;
  table-layout: fixed;
  box-sizing: border-box;
}

.modal-header{
  border: none!important;

  font-family: "HelveticaNeueLight", Helvetica, Arial, sans-serif;
  color: #000;
  line-height: 20px;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.modal-footer{
  border: none!important;
}

.stretch {
  display: block;

  // width: 100%;
  // height: 100%;
}

.floatRight{
  float: right;
}.floatLeft{
   float: left;
 }

.btn.dark:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 0 1px #365ebf, 0 0 0 2px #284784;
  box-shadow: inset 0 0 0 1px #365ebf, 0 0 0 2px #284784;
}

.btn.dark:hover {
  background-color: #2e4d6f;
  background-image: none;
}

.btn.dark {
  color: #fff;
  box-shadow: none;
  background-image: -webkit-linear-gradient(top, #537ca0 0%, #3e5c7f 100%);
  background-image: linear-gradient(to bottom, #537ca0 0%, #3e5c7f 100%);
}

.btn.primary:hover, .button.primary:focus {
  background-color: #24479b;
  background-image: none;
}

.btn.primary {
  color: #fff;
  box-shadow: none;
  background-image: -webkit-linear-gradient(top, #3e6cc9 0%, #2e50b6 100%);
  background-image: linear-gradient(to bottom, #3e6cc9 0%, #2e50b6 100%);
}

.btn {
  background-clip: padding-box;
  border-radius: 2px;
  font-family: "HelveticaNeueRoman", Helvetica, Arial, sans-serif;
  min-width: 80px;
  cursor: pointer;
  // font-size: 1.4rem;
  height: 34px;
  line-height: 34px;
  padding: 0 20px;
  border: 0;
  margin: 0px;
  box-sizing: border-box;
  color: #365ebf;
  box-shadow: inset 0 0 0 1px #dcdcdc;
  background-image: -webkit-linear-gradient(top, #fff 0%, #f2f2f2 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #f2f2f2 100%);
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}



