.page {
  padding: 0;
}

.app-settings-page {
  padding: 24px 0 80px;
}

.toolbar {
  z-index: 1;

  position: fixed;
  top: 0;
  right: 0;
  left: 225px;
  height: 96px;
  transition: left .5s ease-in;

  border-bottom: 1px solid #e3eaf3;

  font-family: HelveticaNeueRoman, Helvetica, Arial, sans-serif;
  font-size: 12px;

  background-image: -webkit-linear-gradient(bottom, #f6f8fb 0%, #f9fafb 100%);
  background-image: linear-gradient(to top, #f6f8fb 0%, #f9fafb 100%);
  background-color: #f3f5f8;
}

.title {
  position: absolute;
  left: 14px;
  bottom: 10px;
}

body.fonts_loaded .section {
  font-family: DIN17SBOP, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.section {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #757985;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 1.6px;
}

.modal :global(.public_Scrollbar_main){
  display: none;
}


.modal :global(.public_fixedDataTable_header){
   height: 0!important;
  border-bottom: none;
}

.subsection {
  vertical-align: bottom;
  margin-right: 10px;

  font-family: "HelveticaNeueBold", Helvetica, Arial, sans-serif;
  font-size: 2.2rem;
}

.details {
  color: #80848f;
  font-size: 12px;
}

.actions {
  position: absolute;
  right: 14px;
  bottom: 20px;
}

.fieldset {
  margin: 40px 0;
}

.legend {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  color: #169cee;
  margin-bottom: 4px;
}

body.fonts_loaded .description-1 {
  font-family: DIN17SBOP, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.description-1 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #555572;
  width: 500px;
  margin: 0 auto 16px;
}

.fields {
  width: 650px;
  margin: 0 auto;
}

.fields > div:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.fields > div:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.field:last-of-type {
  border-bottom-width: 1px;
}

.field {
  position: relative;
  border-style: solid;
  border-color: #e3e3e3;
  border-width: 1px 1px 0;
  min-height: 80px;
  background: #fff;
}

.left {
  position: absolute;
  left: 0;
  height: 100%;
}

.right {
  position: relative;
  min-height: 80px;
  text-align: right;
  padding: 0;
}

.label {
  font-size: 13px;
}

.centered {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  top: 50%;
}

.text {
  font-weight: 700;
}

.text {
  font-weight: 700;
}

.description-2 {
  margin-top: 2px;
  color: #a5a5b4;
  line-height: 13px;
}

.input {
  width: 100%;
  height: 80px;
  text-align: center;
  padding-top: 25px;
  background: #f6fafb;
}

body.fonts_loaded .button {
  font-family: DIN17SBOP, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.button:focus, .button:hover, .primary {
  background-color: #169cee;
  color: #fff;
}

.button {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  display: inline-block;
  height: 30px;
  border: 1px solid #169cee;
  line-height: 28px;
  outline: 0;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  min-width: 110px;
  padding: 0 16px;
  font-size: 14px;
}

.button.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.primary:focus, .primary:hover {
  background-color: #0e69a1;
}

.button.btn-danger:hover, .button.btn-danger:focus {
  background-color: #ce2e4b;
}

// Modal

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.tableRow {
  display: table-row;
  vertical-align: top;
}

.settingContent.tableCell {
  vertical-align: middle;
}
.settingsContainer .tableCell {
  border-bottom: 1px solid #dcdcdc;
}
.settingContent {
  // width: 100%;
  min-width: 650px;
  padding-top: 15px;
  padding-bottom: 15px;
}


.subsection14TitleText {
  font-family: "HelveticaNeueRoman", Helvetica, Arial, sans-serif;
  line-height: 25px;
  font-size: 1.0rem;
}
.settingName {
  padding: 15px 0 15px 15px;
  width: 205px;
  min-width: 205px;
  font-family: "HelveticaNeueBold", Helvetica, Arial, sans-serif;
  text-align: left;
}
.editSetting.tableCell {
  padding: 15px 15px 0 0;
}
.editSetting {
  cursor: pointer;
  padding-right: 15px;
  width: 30px;
}
.pencilIcon {
  display: inline-block;
}

.alignRight{
  text-align: left;
}

.error {
  background: #f9f9fa;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  font-size: 13px;
  color: #ff395e;

  border-top: 1px solid #e3e3e3;
  text-align: center;
}

.modal :global(.ScrollbarLayout_main){
  display: none;
}



.modal :global(.public_fixedDataTable_header) {
  height: 0!important;
  border-bottom: 1px solid #c7c7c7;
}

.icon {
  text-align: center;
  border-radius: 100%;
  background: rgba(0, 0, 0, .3);

  display: inline-block;

  float: right;
  width: 32px;
  height: 32px;
  padding: 4px;
}

.tableCell {
  display: table-cell;
  vertical-align: top;
}

.icon i {
}

.floatRight{
  float: right;
}

.f-subtitle, .f-title {
  color: #fff;
}

.f-title {
  font-size: 22px;
  font-weight: 500;
}

.row {
  border-bottom: 1px solid #c7c7c7;
  cursor: pointer;

  color: #000;
}

.row :global(.fixedDataTableCellLayout_main.public_fixedDataTableCell_main) {
  border-color: #c7c7c7;
  border-style: dotted;
  border-bottom: 1px solid #c7c7c7;
}

.row:hover :global(.fixedDataTableCellLayout_main) {
  background-color: #f3f8fe;
}

.navWrapper {
  width: 165px;
}

.table {
  display: table;
  table-layout: fixed;
  box-sizing: border-box;
}

.stretch {
  // display: block;
  width: 100%;
  height: 100%;
}

.nav {
  box-sizing: border-box;
  background-color: #f3f5f8;
  box-shadow: inset -1px 0 rgba(0, 0, 0, 0.15);
  zoom: reset;
  height: 100%;
}

.trowserView .scroller {
  transform: none;
  -webkit-transform: none;
}

.settingsNavItem.selected {
  background-color: #c0d0e4;
}

.settingsNavItem {
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 50px;
  border-bottom: 1px solid #c7c7c7;
}

.settingsNavItem:hover {
  background-color: #c0d0e4;
}

.settingsNavItem a {
  padding-left: 15px;
  color: #404040;
  display: block;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-family: HelveticaNeueRoman, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.trowserNavItem {
  margin: 0;
  padding: 0;
}

.modal label[htmlFor]{

}

.modal :global(.form-control-static){
  text-align: left;
}


.btn.dark:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 0 1px #365ebf, 0 0 0 2px #284784;
  box-shadow: inset 0 0 0 1px #365ebf, 0 0 0 2px #284784;
}

.btn.dark:hover {
  background-color: #2e4d6f;
  background-image: none;
}

.btn.dark {
  color: #fff;
  box-shadow: none;
  background-image: -webkit-linear-gradient(top, #537ca0 0%, #3e5c7f 100%);
  background-image: linear-gradient(to bottom, #537ca0 0%, #3e5c7f 100%);
}

.btn.primary:hover, .button.primary:focus {
  background-color: #24479b;
  background-image: none;
}

.btn.primary {
  color: #fff;
  box-shadow: none;
  background-image: -webkit-linear-gradient(top, #3e6cc9 0%, #2e50b6 100%);
  background-image: linear-gradient(to bottom, #3e6cc9 0%, #2e50b6 100%);
}

.btn {
  background-clip: padding-box;
  border-radius: 2px;
  font-family: "HelveticaNeueRoman", Helvetica, Arial, sans-serif;
  min-width: 80px;
  cursor: pointer;
  // font-size: 1.4rem;
  height: 34px;
  line-height: 34px;
  padding: 0 20px;
  border: 0;
  margin: 0px;
  box-sizing: border-box;
  color: #365ebf;
  box-shadow: inset 0 0 0 1px #dcdcdc;
  background-image: -webkit-linear-gradient(top, #fff 0%, #f2f2f2 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #f2f2f2 100%);
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.modal fieldset{
  padding: .35em 0 .75em;
}

.modal{
  font-family: HelveticaNeueRoman, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
}

.tableRow {
  display: table-row;
  vertical-align: top;
}

.modal :global(.public_fixedDataTable_header) {
}

.labelText {
  font-family: "HelveticaNeueBold", Helvetica, Arial, sans-serif;
  line-height: 25px;
  font-size: 0.8rem;
}
