.VAT-input-type-wrapper{
  display: block;
}

.VAT-input-type{
  display: block;
}

.subsection12TitleText {
  font-family: "HelveticaNeueBold", Helvetica, Arial, sans-serif;
  line-height: 40px;
  font-size: 0.8rem;
}
